Package: rkn-check
Version: 1.0-1
Section: misc
Architecture: all
Depends: bash, python3, python3-requests, python3-lxml
Maintainer: Ilya Averkov <ilya.averkov@gmail.com>
Priority: extra
Description: block test tool
