Package: rkn-check
Version: 1.1-1
Section: misc
Architecture: all
Depends: bash, python3, python3-requests, rkn-parse, rkn-common
Maintainer: Ilya Averkov <ilya.averkov@gmail.com>
Priority: extra
Description: block test tool
